*{margin:0;padding:0;}
ul,li{
    list-style: none;
}
body{
    background-image:url('../img/mountain.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:bottom;
    height:100vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.content{
    height:500px;
    margin-top:150px;
}
/*
#####################
# Menu de navigation#
#####################

*/

nav{
    font-size:2em;
    text-align: right;
    margin-right:30px;
    position:relative;
    transform: translateY(50%);
    top:0;
    
}
.menu-container li{
    padding:2px;
    transition: all 1s ease;
}
.menu-container li a{
    padding:2px;
    color:black;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
}
.menu-container li a:visited{
    color:black;
    text-decoration:none;
}
.menu-container li a:hover{
    color:black;
    background-color:white;
}



.menu-container{
    font-size:0.5em;
    
}



.logo{
    margin:auto;
    position:absolute;
    left:50%;
    width:250px;    
}
.logo img{
    width:250px;
    height:225px;
    transform: translateX(-50%);
}

.explicationNavigation{
    margin:auto;
    text-align: center;
    width:400px;
    margin-top:-50px;
}



.rondDroit{
    width:100px;
    height:100px;
    border-radius:50px;
    background-image:url('../img/rondDroit.png');
    position:absolute;
    right:35%;
}
.rondGauche{
    width:100px;
    height:100px;
    border-radius:50px;
    background-image: url('../img/rondGauche.png');
    position:absolute;
    left:35%;
}
.wrapperRonds{
    
    margin-top:50px;
}
.wrapperRonds p{
    font-size:2.5rem;
    text-align:center;
    line-height: 50px;
    vertical-align: middle;
    transform: translateY(50%);
    color:white;
}

