PreferenceScreen {}
application {

}
frame {
	display:block;
    width:700px;
    margin:auto;
    font-size:24px;
    background-color:rgba(204, 255, 251, 0.79);
	
}
frame:before {
	margin-top:20px;
	content:'#' attr(id);
	display: block;
	background-color:#ffbbff;
}

img {
}
img:after {
	display: block;
	content : 'Décor : ' attr(src);
}

locuteur:after {
	display: inline;
	content: 'locuteur : ' attr(personnage);
}

expression:after {
	display: inline;
	content: '( ' attr(src) ' )';
}

choix:after {
	display: inline;
	content: '[ ' attr(consequence) ' ]';
}
